@font-face {
  font-family: "Poppins-Regular";
  src: url("../fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "DeLatto";
  src: url("../fonts/DeLatto.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Harlow";
  src: url("../fonts/HARLOWSI_1.TTF") format("truetype");
  font-weight: normal;
}

h1 {
  font-family: "DeLatto";
}

h2 {
  font-family: "Harlow";

}

h3 {
  font-family: "Notted";
}

body {
  font-family: "Poppins-Regular", sans-serif;
}
p {
  font-family: "Poppins-Regular", sans-serif;

}
