* {
  scroll-behavior: smooth;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background: var(--color5);
  color: white;
}

.logo img {
  height: 40px;
  /* margin-bottom: 1rem; */
}

/* Burger Menu Styles */
.burger {
  cursor: pointer;
  width: 25px;
  margin: 25px auto;
  position: absolute;
  top: 10px;
  right: 10px;
}

.burger span {
  display: block;
  width: 25px;
  height: 2.5px;
  margin-bottom: 5px;
  border-radius: 5px;
  background-color: #fff;
  position: relative;
  top: 0;
  transition: all 0.3s ease-in-out;
}

.burger.open span:nth-child(2) {
  opacity: 0;
}

.burger.open span:nth-child(1) {
  transform: rotate(45deg);
  top: 7.5px;
}

.burger.open span:nth-child(3) {
  transform: rotate(-45deg);
  top: -7.5px;
}
/********************************/

/* previent avoir du blanc */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden; /* Prevent horizontal scroll */
}
@media (max-width: 600px) {
  .container {
      width: 100%;
      padding: 0;
  }
}




/* Menu Styles */
/* Mobile Menu */
.menu {
  display: none;
  flex-direction: column;
  align-items: center;
  background-color: var(--color4);
  width: 100%;
}

.menu.active {
  display: flex;  
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu > ul > li {
  width: 100%;
}

.menu > ul > li > a {
  color: var(--color4);
  text-decoration: none;
  padding: 1rem;
  display: block;
  text-align: center;
}

.menu > ul > li:hover > .sous-menu {
  display: block;
}

.sous-menu {
  display: none;
  background-color: var(--color4);
  list-style: none;
  margin: 0;
  padding: 0;
}

.sous-menu li a {
  padding: 1rem;
  color: var(--color5);
  text-decoration: none;
  display: block;
}

.sous-menu li a:hover {
  background-color: var(--color2);
}

#closeBtn {
  color: white;
  text-decoration: none;
  font-size: 24px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}
/********************************/

/* Desktop Styles */
@media (min-width: 769px) {
  header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
  }

  .menu {
    display: flex;
    flex-direction: row;
    position: static;
    background-color: transparent;
    width: auto;
  }

  .menu ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .menu ul li {
    position: relative;
    display: inline-block;
  }

  .menu > ul > li > a {
    padding: 0.5rem 1rem;
  }

  #closeBtn {
    display: none;
  }

  .burger {
    display: none;
  }
  /* Fixe pour le menu/sousmenu pour desktop*/
  .menu ul li ul.sous-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--color4);
    z-index: 10;
  }

  .menu ul li:hover ul.sous-menu {
    display: block;
  }

  .menu ul li ul.sous-menu li {
    display: block;
  }
}

/* **********************video*********************** */
.video {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000000;
  max-height: 65vh;
  overflow: hidden; 
  z-index:  1;
}
.video video {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

/* ******************************Footer **************************/
.footer {
  background-color: var(--color5);
  color: white;
  padding: 1rem;
}

.footer div {
  margin-left: 30%;
  margin-right: 30%;
}
.map {
}
/************************************hover menu****************************/
.test.alternative {
  background-color: var(--background);
}

.test.alternative:hover {
  background-color: var(--hover-back);
  color: var(--hover-front);
}

.test.simple {
  background-color: var(--background);
}

.test.simple:hover {
  background-color: var(--background-hover);
}

.test {
  --color: var(--color4); /* off-white */
  --color-hover: var(--color4); /* off-white */
  --background: var(--color1); /* orange */
  --background-hover: var(--color2); /* navy blue */
  --hover-back: var(--color1); /* orange */
  --hover-front: var(--color2); /* navyblue */
  padding: 8px 28px;
  border-radius: 20px;
  line-height: 24px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.02em;
  border: none;
  outline: none;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-mask-image: -webkit-radial-gradient(white, black);
  color: var(--c, var(--color));
  background: var(--b, var(--background));
  transition: color 0.2s linear var(--c-d, 0.2s),
    background 0.3s linear var(--b-d, 0.2s);
  margin: 10px;
  &:not(.simple) {
    &:before,
    &:after {
      content: "";
      position: absolute;
      background: var(--pb, var(--hover-back));
      top: 0;
      left: 0;
      right: 0;
      height: 200%;
      border-radius: var(--br, 40%);
      transform: translateY(var(--y, 50%));
      /* temps animation */
      transition: transform var(--d, 0.4s) ease-in var(--d-d, 0s),
        border-radius 0.5s ease var(--br-d, 0.08s);
    }
    &:after {
      --pb: var(--hover-front);
      --d: 0.44s;
    }
  }
  div {
    z-index: 1;
    position: relative;
    display: flex;
    span {
      display: block;
      backface-visibility: hidden;
      transform: translateZ(0);
      /* temps animation  */
      animation: var(--name, none) 0.5s linear forwards 0.18s;
    }
  }
  &.in {
    --name: move;
    &:not(.out) {
      --c: var(--color-hover);
      --b: var(--background-hover);
      &:before,
      &:after {
        --y: 0;
        --br: 5%;
      }
      &:after {
        --br: 10%;
        --d-d: 0.02s;
      }
    }
    &.out {
      --name: move-out;
      &:before {
        --d-d: 0.06s;
      }
    }
  }
}

@keyframes move {
  30%,
  36% {
    transform: translateY(calc(-6px * var(--move))) translateZ(0)
      rotate(calc(-13deg * var(--rotate) * var(--part)));
  }
  50% {
    transform: translateY(calc(3px * var(--move))) translateZ(0)
      rotate(calc(6deg * var(--rotate) * var(--part)));
  }
  70% {
    transform: translateY(calc(-2px * var(--move))) translateZ(0)
      rotate(calc(-3deg * var(--rotate) * var(--part)));
  }
}

@keyframes move-out {
  30%,
  36% {
    transform: translateY(calc(6px * var(--move))) translateZ(0)
      rotate(calc(13deg * var(--rotate) * var(--part)));
  }
  50% {
    transform: translateY(calc(-3px * var(--move))) translateZ(0)
      rotate(calc(-6deg * var(--rotate) * var(--part)));
  }
  70% {
    transform: translateY(calc(2px * var(--move))) translateZ(0)
      rotate(calc(3deg * var(--rotate) * var(--part)));
  }
}
/************************************************************************************************************************/
/* Style pour logos sociaux */
.social-icons a {
  display: inline-block;
  font-size: 30px; 
  margin: 0 10px;
  transition: transform 0.3s ease;
  color: var(--color1);
}

.social-icons a:hover {
  transform: translateY(-10px); 
  animation: bounce 0.6s ease-in-out;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
/* S'inscription*/
.inscription {
  color: white;
  text-decoration: none;
}
.inscription:visited {
  color: white;
}

/*BANDE ROLLE LOGOS*/
.carousel {
  width: 100%;
  overflow: hidden;
  position: relative;
  background: var(--color5);
}

.wrapper {
  display: flex;
  animation: scroll 15s linear infinite;
  padding-top: 10px;
}

.wrapper img {
  width: 100px; 
  padding: 10px; 
  margin-right: 5px;
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
/*  */

