body {
    display: flex;
    flex-direction: column;
    background-color: var(--color5);
    color: var(--color4);
    padding: 0 5vw;
  }
  /* style des texte */
  h1,h2,h3{
    text-align: center;
  }
  h1 {
    padding: 1.5rem;
  }
  
  h2 {
    font-size: 2.5rem;
  }
  
  h3{
    font-size: 1.7rem;
  }
  p{
    padding-left: 2rem;
    padding-right: 2rem;
  }
/* style des image */
  img{
    width: 100%;
  }
/* style de la vidéo */
  div.contenantVideo{
    margin: auto;
    height: 35vw;
    width: 80%;
  }
  iframe.video{
    width: 100%;
    height: 100%;
}
.fond-neon {
  display: none;
}
/*style du fond d'écran coups de peinture*/
.fond-peinture {
  position: absolute;
  z-index: -1001;
  height: 100vh;
  width: 100%;
  opacity: 75%;
  background-image: url("../images/Background_plus_beau/peinture_fond.png");
  background-repeat: repeat;
  background-attachment: scroll;
  background-size: 1920px 1080px;
  overflow-x: hidden;
  left: 0;
}
/* style des div */
.div-perspective{
  /* background-color: var(--color2); */
    padding: 1rem;
    margin-bottom: 25px;
    margin-left: 25px;
    margin-right: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #30798fd2;
    border-radius: 40px;
}
  @media (min-width: 1200px) {

    .fond-neon {
      display: block;
      position: absolute;
      z-index: -1000;
      width: 12vw;
      height: 100vh;
      background-attachment: scroll;
      background-size: contain;
      transform: translateX(-4vw);
      background-image: url("../images/Background_plus_beau/neons_marge.png");
      background-repeat: repeat-y;
      overflow: hidden;
    }
  
    .fond-neon:nth-of-type(2) {
      right: 1.7vw;
      transform: scaleX(-1);
    }
    .div-perspective{
      padding: 2rem;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 0;
      border-radius: 40px;
      margin-bottom: 25px;
      margin-left: 10vw;
      margin-right: 10vw;
    }
    .conteneur-event {
      padding: 2rem;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      background-color: #44a5c200;
      margin-bottom: 0;
    
  }
  .conteneur-event h2, .conteneur-event h3{
    width: 100%;
  }
  .conteneur-event p{
    width: 45%;
  }
  .conteneur-event img{
    width: 45%;
  }
  .reverse-row{
    display: flex;
    flex-direction: row-reverse;
  }
}