body {
    display: flex;
    flex-direction: column;
    background-color: var(--color5);
    color: var(--color4);
  }

body div{
    margin-bottom: 25px;
    margin-left: 25px;
    margin-right: 25px;
} 

h1 {
    width: 100%;
    text-align: center;
  }
  
  h2 {
    font-size: 2.5rem;
  }

  img{
    width: 100%;
  }

  div.contenantVideo{
    margin: auto;
    width: 80vw;
    height: 45vw;
  }
  iframe.video{
    width: 100%;
    height: 100%;
}