* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color5);
    font-family: "Poppins", sans-serif;
}
/* Container acordeon Prof */
.container {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 500px;
    gap: 10px;
    
    h2 {
        font-size: 1.5rem;
        text-align: center;
        margin: 0; 
        padding: 0.5rem 0; 
    }
    /* PROFESSOR */
    > div {
        flex: 0 0 120px;
        border-radius: 0.5rem;
        transition: 0.5s ease-in-out;
        cursor: pointer;
        box-shadow: 1px 5px 15px #1e0e3e;
        position: relative;
        overflow: hidden;
        /* IMAGES PROFS */
        &:nth-of-type(1) {
            background: url("../images/Manon.png") no-repeat 50% / cover;
        }
        &:nth-of-type(2) {
            background: url("../images/Greg.png") no-repeat 50% / cover;
        }
        &:nth-of-type(3) {
            background: url("../images/Ahmed.png") no-repeat 50% / cover;
        }
        &:nth-of-type(4) {
            background: url("../images/Mathieu.png") no-repeat 50% / cover;
        }
        &:nth-of-type(5) {
            background: url("../images/Vincent.png") no-repeat 50% / cover;
        }
        &:nth-of-type(6) {
            background: url("../images/Eddy.png") no-repeat 50% / cover;
        }
        &:nth-of-type(7) {
            background: url("../images/Caroline.png") no-repeat 50% / cover;
        }
        &:nth-of-type(8) {
            background: url("../images/Stephanie.png") no-repeat 50% / cover;
        }
        &:nth-of-type(9) {
            background: url("../images/Denis.png") no-repeat 50% / cover;
        }
        &:nth-of-type(10) {
            background: url("../images/David.png") no-repeat 50% / cover;
        }
        &:nth-of-type(11) {
            background: url("../images/Camille.png") no-repeat 50% / cover;
        }
        &:nth-of-type(12) {
            background: url("../images/Martin.png") no-repeat 50% / cover;
        }
        &:nth-of-type(13) {
            background: url("../images/Dominic.png") no-repeat 50% / cover;
        }
        &:nth-of-type(14) {
            background: url("../images/LOGOM9.png") no-repeat 50% / cover;
        }
        &:nth-of-type(15) {
            background: url("../images/LOGOM9.png") no-repeat 50% / cover;
        }

        /* CONTENU avant le popup*/
        .content {
            font-size: 1.5rem;
            color: #fff;
            display: flex;
            align-items: center;
            padding: 15px;
            opacity: 0;
            flex-direction: column;
            height: 100%;
            justify-content: flex-end;
            background: rgb(2, 2, 46);
            background: linear-gradient(
                0deg,
                rgba(2, 2, 46, 0.6755077030812324) 0%,
                rgba(255, 255, 255, 0) 100%
            );
            transform: translatey(100%);
            transition: opacity 0.5s ease-in-out, transform 0.5s 0.2s;
            visibility: hidden;

            span {
                display: block;
                margin-top: 5px;
                font-size: 1.2rem;
            }
        }

        &:hover {
            flex: 0 0 250px;
            /* border shadow color */
            box-shadow: 1px 3px 15px #7645d8;
            transform: translatey(-30px);
        }

        &:hover .content {
            opacity: 1;
            transform: translatey(0%);
            visibility: visible;
        }
    }
}

/* CSS for the popup professor */
.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
    background-color: var(--color5);
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
    position: relative;  
    top: 50%;  
    transform: translateY(-50%);  
    margin: auto; 
}
.popup-content h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 50px;
    color: var(--color4);
  }
.popup-content blockquote {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
    color: var(--color4);
  }
#popup-description {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    line-height: 1.6;
    color: var(--color4);
}
  


  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  .popup-content img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
#popup-icons-container {
    display: flex; /* Use flexbox for alignment */
    justify-content: flex-end; /* Align icons to the right */
    margin-top: 20px; /* Add some space above the icons */
}

.popup-icon {
    margin-left: 15px; /* Add spacing between icons */
    font-size: 24px; /* Adjust the icon size as needed */
    color: var(--color4); /* Change this to the desired color */
    cursor: pointer; /* Change cursor on hover */
    transition: color 0.3s; /* Smooth color transition */
}

.popup-icon:hover {
    color: #7645d8; /* Change color on hover */
}

