body {
  display: flex;
  flex-direction: column;
  background-color: var(--color5);
  color: var(--color4);
}

h1 {
  width: 100%;
  text-align: center;
}

h2 {
  font-size: 2.5rem;
}

.div-vie-etudiante {
  padding: 1rem;
  margin-bottom: 25px;
  margin-left: 25px;
  margin-right: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #44a5c27a;
  border-radius: 40px;
}

div h2, div h3{
  width: 100%;
  text-align: center;
}

.div-vie-etudiante img {
  max-width: 90%;
}

.div-vie-etudiante p{
  max-width: 90%;
  text-align: justify;
}

@media (min-width: 769px) {

  .div-vie-etudiante {
    padding: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #44a5c200;
    margin-bottom: 0;
  }

  .div-vie-etudiante h2, .div-vie-etudiante h3{
    width: 100%;
  }

  .div-vie-etudiante img {
    width: 45%;
  }

  .div-vie-etudiante p{
    width: 45%;
  }

  #event .conteneur-event {
    padding: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #44a5c200;
    margin-bottom: 0;
  }

  #event .conteneur-event:nth-of-type(2) {
    padding: 2rem;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #44a5c200;
    margin-bottom: 0;
  }

  #event h2, #event h3 {
    text-align: center;
  }

  #bourses {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #bourses h2, #bourses h3, #bourses p, #bourses img {
    width: auto;
  }

}