.container-futur {
    padding: 0 5vw;
}

.container-futur h1 {
    font-size: 4rem;
    width: 100%;
    text-align: center;
}

.div-perspective h2 {
    text-align: center;
    font-size: 2rem;
}

.div-perspective .conteneur-event h3 {
    margin-top: 20px;
    text-align: center;
}

.div-perspective .conteneur-event p {
    margin: 4vw 0;
}

.video-futur {
    width: 56vw;
    height: 31.5vw;
}