/* ******************************Footer **************************/

.footer {
  background-color: var(--color5);
  padding: 20px;
}

.footer-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer h2 {
  margin-bottom: 10px;
  color: white;
}

.map-info iframe {
  max-width: 100%;
  border: 0;
}
.footer p {
  color: white;
}

/* S'inscription*/
.inscription {
  color: white;
  text-decoration: none;
}
.inscription:visited {
  color: white;
}

/*(mobile-first style) */
.inscription-logo,
.sociaux {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inscription-logo img {
  width: 100px;
  margin-top: 10px;
}

.social-icons a {
  margin: 0 10px;
  font-size: 24px;
}

/* Media query pour ecran plus large */
@media screen and (min-width: 768px) {
  .footer-content {
    flex-direction: row;
    justify-content: space-between;
  }

  .map-info,
  .inscription-logo,
  .sociaux {
    flex: 1;
    margin: 0 10px;
  }

  .inscription-logo img {
    width: 100px;
  }
}

/* ******************************Footer **************************/
footer {
  background-color: var(--color5);
  color: white;
  padding: 1rem;
}

footer div {
  margin-left: 30%;
  margin-right: 30%;
}
.map {
}

/************************************************************************************************************************/
/* Style pour logos sociaux */
.social-icons a {
  display: inline-block;
  font-size: 30px;
  margin: 0 10px;
  transition: transform 0.3s ease;
  color: var(--color1);
}

.social-icons a:hover {
  transform: translateY(-10px);
  animation: bounce 0.6s ease-in-out;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
