/* **********************video*********************** */
.video {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-height: 75vh;
  overflow: hidden;
  z-index: 1;
  margin: 130px 0;
  position: relative;
}

.video-description {
  text-align: start;
  margin: 20px auto; /* Center align horizontally */
  max-width: 800px;
  padding: 30px;
  background-color: rgba(69, 63, 180, 0.25);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
  h1 {
    font-size: 50px;
    margin-bottom: 50px;
  }

  h2 {
    font-size: 20px;
    color: var(--color4);
    line-height: 1.5;
    margin-bottom: 30px;
  }


  p {
    font-size: 16px;
    color: white;
    line-height: 1.5;
    text-align: start;

  }
}


.video video {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  position: relative;
  z-index: 1;
}

.video::before {
  content: '';
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  border-radius: 10px;
  background: linear-gradient(315deg, var(--color2), var(--color1));
  filter: blur(20px);
  z-index: 0;
  animation: neon-border 1.5s infinite alternate, color-change 3s infinite alternate;
}

/* Neon border animation */
@keyframes neon-border {
  from {
    filter: blur(10px);
  }
  to {
    filter: blur(20px);
  }
}

/* Color change animation */
@keyframes color-change {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Media query pour responsive video */
@media (max-width: 768px) {
  .video {
    height: 50vh;
    max-height: 50vh;
  }
  /* prevenir que le sous-menu ne interact pas avec la video
  .sous-menu li{
    display: none;
  } */
}

@media (max-width: 480px) {
  .video {
    height: 30vh;
    max-height: 30vh;
  }
}