.video {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-height: 75vh;
  overflow: hidden;
  z-index: 1;
  margin: 130px 0;
  position: relative;
}

.video video {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  position: relative;
  z-index: 1;
}

.video::before {
  content: '';
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  border-radius: 10px;
  background: linear-gradient(315deg, var(--color2), var(--color1));
  filter: blur(20px);
  z-index: 0;
  animation: neon-border 1.5s infinite alternate, color-change 3s infinite alternate;
}

// Overlay text pour la video de la page d'accueil
.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Align items at the start */
  align-items: center;
  background: rgba(0, 0, 0, 0.5); /* Optional: Add a semi-transparent background */
  color: var(--color4);
  text-align: center;
  z-index: 2;
  // animation: text-fade-in 2s ease-in-out infinite alternate;
}

// TEXT H! & P DU TIM DE MAISONNEUVE
.video-overlay h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
  // animation: text-slide-in 3s ease-in-out infinite alternate;

  @media (max-width: 1200px) {
    font-size: 3.5rem;
  }

  @media (max-width: 992px) {
    font-size: 3rem;
  }

  @media (max-width: 768px) {
    font-size: 2.5rem;
  }

  @media (max-width: 576px) {
    font-size: 2rem;
  }
}

.video-overlay p {
  font-size: 1.25rem;
  // animation: text-slide-in 3s ease-in-out infinite alternate;

  @media (max-width: 1200px) {
    font-size: 1.125rem;
  }

  @media (max-width: 992px) {
    font-size: 1rem;
  }

  @media (max-width: 768px) {
    font-size: 0.875rem;
  }

  @media (max-width: 576px) {
    font-size: 0.75rem;
  }
}

/* Neon border animation */
@keyframes neon-border {
  from {
    filter: blur(10px);
  }
  to {
    filter: blur(20px);
  }
}

/* Color change animation */
@keyframes color-change {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Text fade-in animation */
@keyframes text-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Text slide-in animation */
@keyframes text-slide-in {
  from {
    transform: translateY(-20px);
  }
  to {
    transform: translateY(0);
  }
}

/* Media query pour responsive video */
@media (max-width: 768px) {
  .video {
    height: 50vh;
    max-height: 50vh;
  }
}

@media (max-width: 480px) {
  .video {
    height: 30vh;
    max-height: 30vh;
  }
}