* {
  scroll-behavior: smooth;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background: var(--color5);
  color: white;

  .logo img {
    height: 40px;
  }

  /* Burger Menu Styles */
  #burger {
    cursor: pointer;
    width: 35px;
    margin: 35px auto;
    position: absolute;
    top: 5px;
    right: 27px;

    svg path {
      fill: var(--color1);
    }

    &.open svg path {
      fill: var(--color2);
    }
    .menu-item a {
      display: block;
      width: 35px;
      height: 4px;
      margin-bottom: 7px;
      border-radius: 5px;
      background-color: var(--color1);
      position: relative;
      top: 0;
      transition: all 0.3s ease-in-out;

      &:nth-child(2) {
        &.open {
          opacity: 0;
        }
      }

      &:nth-child(1) {
        &.open {
          transform: rotate(45deg);
          top: 11px;
        }
      }

      &:nth-child(3) {
        &.open {
          transform: rotate(-45deg);
          top: -11px;
        }
      }
    }
  }
}

/********************************/

/* Prevent white spaces */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  background-color: var(--color5);
}

@media (max-width: 600px) {
  .container {
    width: 100%;
    padding: 0;
  }
}

/* Menu Styles */
.menu-principal-container {
  display: none;
  flex-direction: column;
  align-items: center;
  background-color: var(--color4);
  width: 100%;
  position: relative;
  z-index: 1;

  &.active {
    display: flex;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .menu-item {
    width: 100%;
    position: relative;

    a {
      color: var(--color4);
      text-decoration: none;
      padding: 1rem;
      display: block;
      text-align: center;
    }
  }

  ul > .menu-item:hover > .sub-menu {
    display: block;
  }

  .sub-menu {
    display: none;
    background-color: var(--color4);
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    border-radius: 5px;

    .menu-item {
      a {
        padding: 1rem;
        color: var(--color5);
        text-decoration: none;
        display: block;

        &:hover {
          background-color: var(--color2);
        }
      }
    }
  }
}

#closeBtn {
  color: white;
  text-decoration: none;
  font-size: 24px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

/********************************/
#chk_burger:checked ~ .menu-principal-container {
  display: flex;
}

/* Desktop Styles */
@media (min-width: 872px) {
  header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;

    .menu-principal-container {
      display: flex;
      flex-direction: row;
      position: static;
      background-color: transparent;
      width: auto;

      ul {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        padding: 0;
        margin: 0;

        .menu-item {
          position: relative;
          display: inline-block;

          a {
            padding: 0.5rem 1rem;
          }

          .sub-menu {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            background-color: var(--color4);
            z-index: 10;

            &:hover {
              display: block;
            }
          }
        }
      }
    }

    #closeBtn {
      display: none;
    }

    #burger {
      display: none;
    }
  }
}

/************************************hover menu****************************/
.test.alternative {
  background-color: var(--background);

  &:hover {
    background-color: var(--hover-back);
    color: var(--hover-front);
  }
}

.test.simple {
  background-color: var(--background);

  &:hover {
    background-color: var(--background-hover);
  }
}

.test {
  --color: var(--color4);
  --color-hover: var(--color4);
  --background: var(--color1);
  --background-hover: var(--color2);
  --hover-back: var(--color1);
  --hover-front: var(--color2);
  padding: 8px 28px;
  border-radius: 20px;
  line-height: 24px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.02em;
  border: none;
  outline: none;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-mask-image: -webkit-radial-gradient(white, black);
  color: var(--c, var(--color));
  background: var(--b, var(--background));
  transition: color 0.2s linear var(--c-d, 0.2s),
    background 0.3s linear var(--b-d, 0.2s);
  margin: 10px;

  &:not(.simple) {
    &:before,
    &:after {
      content: "";
      position: absolute;
      background: var(--pb, var(--hover-back));
      top: 0;
      left: 0;
      right: 0;
      height: 200%;
      border-radius: var(--br, 40%);
      transform: translateY(var(--y, 50%));
      transition: transform var(--d, 0.4s) ease-in var(--d-d, 0s),
        border-radius 0.5s ease var(--br-d, 0.08s);
    }

    &:after {
      --pb: var(--hover-front);
      --d: 0.44s;
    }
  }

  div {
    z-index: 1;
    position: relative;
    display: flex;

    .menu-item a {
      display: block;
      backface-visibility: hidden;
      transform: translateZ(0);
      animation: var(--name, none) 0.5s linear forwards 0.18s;
    }
  }

  &.in {
    --name: move;

    &:not(.out) {
      --c: var(--color-hover);
      --b: var(--background-hover);

      &:before,
      &:after {
        --y: 0;
        --br: 5%;
      }

      &:after {
        --br: 10%;
        --d-d: 0.02s;
      }
    }

    &.out {
      --name: move-out;

      &:before {
        --d-d: 0.06s;
      }
    }
  }
}

@keyframes move {
  30%,
  36% {
    transform: translateY(calc(-6px * var(--move))) translateZ(0)
      rotate(calc(-13deg * var(--rotate) * var(--part)));
  }
  50% {
    transform: translateY(calc(3px * var(--move))) translateZ(0)
      rotate(calc(6deg * var(--rotate) * var(--part)));
  }
  70% {
    transform: translateY(calc(-2px * var(--move))) translateZ(0)
      rotate(calc(-3deg * var(--rotate) * var(--part)));
  }
}

@keyframes move-out {
  30%,
  36% {
    transform: translateY(calc(6px * var(--move))) translateZ(0)
      rotate(calc(13deg * var(--rotate) * var(--part)));
  }
  50% {
    transform: translateY(calc(-3px * var(--move))) translateZ(0)
      rotate(calc(-6deg * var(--rotate) * var(--part)));
  }
  70% {
    transform: translateY(calc(2px * var(--move))) translateZ(0)
      rotate(calc(3deg * var(--rotate) * var(--part)));
  }
}
