header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
<<<<<<< Updated upstream
=======
  background: var(--color5);
  color: white;
  z-index: 10;
>>>>>>> Stashed changes
}
