body {
  min-height: 100vh;
  background-color: var(--color5);
  font-family: "Poppins", sans-serif;
}
h1 {
  
}
h2 {
  
}
p {
  
}

/*********************************** tableau **************************/
.table-c {
  overflow-x: auto;
  white-space: nowrap;
}
table {
  margin: 0 auto;
  width: 50%; /* Adjust the width as needed */
}

td,
th {
  padding: 8px;
  border: 1px solid #11055c;
  display: inline-block;
  width: 50vw;
  box-sizing: border-box;
  background-color: #44a5c27f;
}

td:empty {
  visibility: hidden;
}

th {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

/* Navigation Button Styles */
.nav-arrow {
  background-color: var(--color1); /* Match the banner background color */
  color: white;
  border: none; 
  padding: 10px 20px; 
  cursor: pointer; 
  font-size: 20px; 
  transition-duration: 0.4s; 
  margin: 4px 2px; 
  display: inline-block; 
}

.nav-arrow:hover {
  background-color: var(--color2);
}


.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
  width: 100%; 
}

#session-content {
  width: 300px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  margin: 0 20px;
}

.session {
  display: none;
}

.session.active {
  display: block;
}

/************************ pour montrer la descr du cours ************************/
.collapse {
  display: none;
  padding: 15px;
  white-space: wrap;
}

.collapse.show {
  display: block;
}

/* le style du bouton (à changer) */
.btn {
  cursor: pointer;
  background-color: var(--color1);
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  box-sizing: border-box;
  max-width: 100%;
}

.btn:hover {
  background-color: var(--color2);
}
@media (max-width: 768px) {
  .btn {
    font-size: 14px;
    padding: 8px 16px;
  }

  .collapse p {
    font-size: 14px;
    line-height: 1.5;
    padding: 10px;
  }

}

@media (max-width: 480px) {
  .btn {
    font-size: 12px;
    padding: 6px 12px;
  }

  .collapse p {
    font-size: 12px;
    line-height: 1.4;
    padding: 8px;
  }
}

/************************************************/

/* Style pour le banner */
.banner .slider .item figure {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  height: 100%;
}

.banner .slider .item figcaption {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: var(--color2);
  color: white;
  text-align: center;
  padding: 5px 0;
  font-size: 14px;
  box-sizing: border-box;
  z-index: 1;
}

.banner {
  width: 100%;
  height: 40vh;
  text-align: center;
  overflow: hidden;
  position: relative;
  background-color: var(--color5);
}

.banner .slider {
  position: absolute;
  width: 150px;
  height: 200px;
  top: 10%;
  left: calc(50% - 75px);
  transform-style: preserve-3d;
  transform: perspective(1000px);
  animation: autoRun 20s linear infinite;
  z-index: 2;
}

.banner .slider:hover {
  animation-play-state: paused;
}

@keyframes autoRun {
  from {
    transform: perspective(1000px) rotateX(-16deg) rotateY(0deg);
  }
  to {
    transform: perspective(1000px) rotateX(-16deg) rotateY(360deg);
  }
}

.banner .slider .item {
  position: absolute;
  inset: 0 0 0 0;
  transform: rotateY(
      calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)
    )
    translateZ(400px);
}

.banner .content {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: min(1400px, 100vw);
  height: max-content;
  padding-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

/* Responsive Banner */

@media screen and (max-width: 1023px) {
  .banner .slider {
    width: 120px;
    height: 160px;
    left: calc(50% - 60px);
  }
  .banner .slider .item {
    transform: rotateY(
        calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)
      )
      translateZ(250px);
  }
}

@media screen and (max-width: 767px) {
  .banner .slider {
    width: 80px;
    height: 120px;
    left: calc(50% - 40px);
  }
  .banner .slider .item {
    transform: rotateY(
        calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)
      )
      translateZ(150px);
  }
}

@media (max-width: 600px) {
  .banner .slider .item figcaption {
    font-size: 1px;
    padding: 3px 0;
  }
  .banner {
    height: 30vh;
  }
}

.banner .slider .item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  filter: grayscale(100%);
  transition: filter 0.3s ease;
}

.banner .slider .item:hover img {
  filter: grayscale(0%);
}

.popup-message {
  display: none;
  position: absolute;
  bottom: 150px;
  left: 50%;
  transform: translateX(-50%);
  width: 250px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  letter-spacing: normal;
  text-align: center;
  z-index: 10;
}

.banner .slider .item:hover .popup-message {
  display: block;
}

@media (max-width: 600px) {
  .popup-message {
    width: 90%;
    bottom: 100px;
    font-size: 10px;
    padding: 5px;
    height: auto;
  }
  figcaption {
    display: none;
  }
}
/*  */
h1{
  display: flex;
  flex-direction: row;
  justify-content: center;
}