@font-face {
  font-family: "Poppins-Regular";
  src: url("fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Harlow";
  src: url("fonts/HARLOWSI_1.ttf") format("truetype"); // Update the path if necessary
  font-weight: normal;
}

// MANIERE DE BYPASSER LE PROBLEME DE POLICE DE CARACTERE


// FIN DE BYPASSER LE PROBLEME DE POLICE DE CARACTERE

/* Container card */
.container-projet {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  gap: 80px;

}

.container-projet .box {
  position: relative;
  width: 100%;
  max-width: 450px;
  height: auto;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  transition: 0.5s;
  // margin-top: 150px;
}

.container-projet .box::before,
.container-projet .box::after {
  content: '';
  position: absolute;
  top: 0;
  left: 50px;
  width: 50%;
  height: 100%;
  background: #fff;
  border-radius: 8px;
  transform: skewX(15deg);
  transition: 0.5s;
}

.container-projet .box::before {
  filter: blur(30px);
}

.container-projet .box:hover::before,
.container-projet .box:hover::after {
  transform: skewX(0deg);
  left: 20px;
  width: calc(100% - 90px);
}

/* Animation BG carte  */

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
// NOTES IMPORTANT A RETENIR COMBIEN DE PROJET MAX (Pour que je puisse ajouter POUR LES AUTRES QUI NONT PAS DE COULEURS)
// .container-projet .box:nth-child(1):before,
// .container-projet .box:nth-child(1):after,
// .container-projet .box:nth-child(2):before,
// .container-projet .box:nth-child(2):after,
// .container-projet .box:nth-child(3):before,
// .container-projet .box:nth-child(3):after,
// .container-projet .box:nth-child(4):before,
// .container-projet .box:nth-child(4):after{
//   background: linear-gradient(315deg, var(--color1), var(--color2));
//   background-size: 200% 200%;
//   animation: gradientAnimation 5s ease infinite;
// }

.container-projet .box:before,
.container-projet .box:after {
  background: linear-gradient(315deg, var(--color1), var(--color2));
  background-size: 200% 200%;
  animation: gradientAnimation 5s ease infinite;
}
/* ********************************************* */

.container-projet .box span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  pointer-events: none;
}

.container-projet .box span::before,
.container-projet .box span::after {
  content: '';
  position: absolute;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  opacity: 0;
  transition: 0.1s;
}

.container-projet .box:hover span::before {
  top: -50px;
  left: -60px;
  width: 100px;
  height: 100px;
  opacity: 1;
}

.container-projet .box:hover span::after {
  bottom: -50px;
  right: 5px;
  width: 100px;
  height: 100px;
  opacity: 1;
}

.container-projet .box .content {
  position: relative;
  padding: 20px 40px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 1;
  color: #fff;
}

.container-projet .box:hover .content {
  left: -25px;
  padding: 60px 40px;
}

.container-projet .box .content img {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 8px;
  margin-bottom: 10px;
}

.container-projet .box .content h1 {
  font-size: 1.8rem;
  color: var(--color1);
  margin-bottom: 30px;
 

}

.container-projet .box .content h2 {
  font-size: 1.5rem;
  color: var(--color4);
  margin-bottom: 10px;
  letter-spacing: 1.5px;
}

.container-projet .box .content p {
  font-size: 1rem;
  margin-bottom: 10px;
  line-height: 1.4em;
  
}

.container-projet .box .content a {
  display: inline-block;
  font-size: 1rem;
  color: #111;
  background: var(--color4);
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 700;
  margin-top: 5px;
}

.container-projet .box .content a:hover {
  background: var(--color1);
  box-shadow: 0 1px 15px rgba(1, 1, 1, 0.2);
}
/* ******************************************** */

/* Responsive Design */
@media (max-width: 768px) {
  .container-projet {
    padding: 20px;
  }
  
  .container-projet .box {
    width: 100%;
    max-width: 350px;
    height: auto;
  }

  .container-projet .box .content {
    padding: 20px;
  }
  
  .container-projet .box .content h1 {
    font-size: 1.5rem;
  }

  .container-projet .box .content h2 {
    font-size: 1.3rem;
  }

  .container-projet .box .content p {
    font-size: 1rem;
  }
}
/* *********************************** */

/* page pop up */
/* Carte modal */
.modal {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: var(--color5);
  padding: 20px;
  width: 80%;
  max-width: 600px;
  border-radius: 10px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: auto;
}

.modal-content h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 50px;
  color: var(--color4);
}
.modal-content h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 50px;
  color: var(--color1);
  
  
}
.modal-content p{
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px;
  color: var(--color4);
}
.close {
  color: var(--color4);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: var(--color1);
  text-decoration: none;
  cursor: pointer;
}
/* ****************************** */