@font-face {
  font-family: "Poppins-Black";
  src: url("fonts/Poppins-Black.ttf") format("truetype");
  font-weight: normal;
}

body {
  margin: 0;
  font-family: "Poppins-Black", sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: #333;
  color: white;
}

.logo img {
  height: 40px;
  margin-bottom: 1rem;
}

/* Burger Menu Styles */
.burger {
  cursor: pointer;
  width: 25px; 
  margin: 25px auto; 
  position: absolute; 
  top: 10px; 
  right: 10px; 
}

.burger span {
  display: block;
  width: 25px; 
  height: 2.5px; 
  margin-bottom: 5px; 
  border-radius: 5px; 
  background-color: #fff;
  position: relative;
  top: 0;
  transition: all 0.3s ease-in-out;
}

.burger.open span:nth-child(2) {
  opacity: 0;
}

.burger.open span:nth-child(1) {
  transform: rotate(45deg);
  top: 7.5px;
}

.burger.open span:nth-child(3) {
  transform: rotate(-45deg);
  top: -7.5px; 
}
/********************************/

/* Menu Styles */

.menu {
  display: none;
  flex-direction: column;
  align-items: center;
  background-color: #333;
  width: 100%;
}

.menu.active {
  display: flex;
}


/* Mobile Menu */
.menu {
  display: none;
  flex-direction: column;
  align-items: center;
  background-color: #333;
  width: 100%;
}

.menu.active {
  display: flex;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu > ul > li {
  width: 100%;
}

.menu > ul > li > a {
  color: white;
  text-decoration: none;
  padding: 1rem;
  display: block;
  text-align: center;
}

.menu > ul > li:hover > .sous-menu {
  display: block;
}

.sous-menu {
  display: none;
  background-color: #444;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sous-menu li a {
  padding: 1rem;
  color: white;
  text-decoration: none;
  display: block;
}

.sous-menu li a:hover {
  background-color: #555;
}

#closeBtn {
  color: white;
  text-decoration: none;
  font-size: 24px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}
/********************************/

/* Desktop Styles */
@media (min-width: 769px) {
  header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
  }

  .menu {
    display: flex;
    flex-direction: row;
    position: static;
    background-color: transparent;
    width: auto;
  }

  .menu ul {
    display: flex;
    flex-direction: row;
  }

  .menu > ul > li {
    position: static;
  }

  .menu > ul > li > a {
    padding: 0.5rem 1rem;
  }

  .sous-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #444;
    width: 200px;
  }

  .menu > ul > li:hover > .sous-menu {
    display: block;
  }

  #closeBtn {
    display: none;
  }

  .burger {
    display: none;
  }
}

/* Footer and Other Styles */
footer {
  background-color: #333;
  color: white;
  padding: 1rem;
  text-align: center;
}

