@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

// BURGER
#burger {
  cursor: pointer;
  width: 35px;
  margin: 35px auto;
  position: absolute;
  top: 5px;
  right: 27px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 24px;
  z-index: 2;

  span {
    display: block;
    width: 100%;
    height: 4px;
    background: var(--color1);
    border-radius: 2px;
    transition: all 0.3s ease-in-out;
  }
}

#chk_burger {
  display: none;
}

#chk_burger:checked + #burger span:nth-child(1) {
  transform: rotate(45deg);
  position: absolute;
  top: 10px;
}

#chk_burger:checked + #burger span:nth-child(2) {
  opacity: 0;
}

#chk_burger:checked + #burger span:nth-child(3) {
  transform: rotate(-45deg);
  position: absolute;
  top: 10px;
}
// JUSQUA ICI


// MENU PRINCIPAL **IMPORTANT** TRAVAIL DE EMILY DONT TOUCH (ou toucher avec precaution)
.menu-principal-container {
  display: none;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
  z-index: 1;
  white-space: nowrap;



  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .menu-item {
    width: 100%;
    position: relative;
    flex: 1;
    box-sizing: border-box;

    a {
      color: var(--color4);
      text-decoration: none;
      padding: 1rem;
      display: block;
      text-align: center;
      font-family: 'Poppins', sans-serif;
    }
  }
  .sub-menu {
    display: none;
  }
}

svg path {
  fill: var(--color1);
}

#chk_burger:checked ~ .menu-principal-container {
  display: flex;
}
@media (min-width: 872px) {
  #burger {
    display: none;
  }
  header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    svg {
      display: none;
    }
    // BOUT DE CODE POUR LE MENU PRINCIPAL POUR QUE CA RESTE HORIZONTAL TOUCHE PAS (ON A BESOIN DE CA)
    .menu-principal-container {
      display: flex;
      position: static;
      width: auto;
      

      ul {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        padding: 0;
        margin: 0;
        flex: 1;
        width: 100%;
        .menu-item {
          position: relative;
          display: flex;

          a {
            padding: 0.5rem 1rem;
            flex-wrap: nowrap;
          }

          .sub-menu {
            position: absolute;
            top: 100%;
            background-color: var(--color4);
            color: var(--color5);
            z-index: 10;
            width: auto; /* Permet le sub-menu d'etre prendre le width baser sur contenu */
            box-sizing: border-box;
            border-radius: 5px;
            font-family: 'Poppins', sans-serif;
          }
          &:hover {
            .sub-menu {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              width: auto;
              li {
                width: 100%;
                color: var(--color5);
                font-size: 1rem;
                &:hover {
                  background-color: var(--color2);
                }
                a {
                  color: var(--color5);
                  text-align: center;
                  width: 100%;
                  white-space: normal;
                }
              }
            }
          }
        }
      }
    }
  }
}



// PEUT ETRE ENLEVER SI PAS BESOIN (ou marche pas)
// CE BOUT DE CODE CEST POUR L"ANIMATION DU MENU BURGER 
@media (max-width: 872px) {
  .menu-principal-container {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
    z-index: 1;
    white-space: nowrap;
    transition: all 0.5s ease-out;
  }

  /* Slide up animation translate et opacite */
  @keyframes slideUp {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }

    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  /*  slide-up animation quand le burger menu est checked */
  #chk_burger:checked ~ .menu-principal-container {
    display: flex;
    animation: slideUp 0.5s ease-out forwards;
  }
}

