#burger {
  cursor: pointer;
  width: 35px;
  margin: 35px auto;
  position: absolute;
  top: 5px;
  right: 27px;
}
#chk_burger {
  display: none;
}

.menu-principal-container {
  display: none;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
  z-index: 1;
  white-space: nowrap;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .menu-item {
    width: 100%;
    position: relative;
    flex: 1;
    box-sizing: border-box;

    a {
      color: var(--color4);
      text-decoration: none;
      padding: 1rem;
      display: block;
      text-align: center;
    }
  }
  .sub-menu {
    display: none;
  }
}

svg path {
  fill: var(--color1);
}

#chk_burger:checked ~ .menu-principal-container {
  display: flex;
}

@media (min-width: 872px) {
  header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    svg {
      display: none;
    }
    .menu-principal-container {
      display: flex;
      position: static;
      width: auto;

      ul {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        padding: 0;
        margin: 0;
        flex: 1;
        width: 100%;
        .menu-item {
          position: relative;
          display: flex;

          a {
            padding: 0.5rem 1rem;
            flex-wrap: nowrap;
          }

          .sub-menu {
            position: absolute;
            top: 100%;
            background-color: var(--color4);
            color: var(--color5);
            z-index: 10;
            width: 100%; /* Make the sub-menu match the width of the parent item */
            box-sizing: border-box;
          }
          &:hover {
            .sub-menu {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              width: 100%;
              li {
                width: 100%;
                color: var(--color5);
                &:hover {
                  background-color: var(--color2);
                }
                a {
                  color: var(--color5);
                  text-align: center;
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
  }
}

/************************************hover menu****************************/
.test.alternative {
  background-color: var(--background);

  &:hover {
    background-color: var(--hover-back);
    color: var(--hover-front);
  }
}

.test.simple {
  background-color: var(--background);

  &:hover {
    background-color: var(--background-hover);
  }
}

.test {
  --color: var(--color4);
  --color-hover: var(--color4);
  --background: var(--color1);
  --background-hover: var(--color2);
  --hover-back: var(--color1);
  --hover-front: var(--color2);
  padding: 8px 28px;
  border-radius: 20px;
  line-height: 24px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.02em;
  border: none;
  outline: none;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-mask-image: -webkit-radial-gradient(white, black);
  color: var(--c, var(--color));
  background: var(--b, var(--background));
  transition: color 0.2s linear var(--c-d, 0.2s),
    background 0.3s linear var(--b-d, 0.2s);
  margin: 10px;

  &:not(.simple) {
    &:before,
    &:after {
      content: "";
      position: absolute;
      background: var(--pb, var(--hover-back));
      top: 0;
      left: 0;
      right: 0;
      height: 200%;
      border-radius: var(--br, 40%);
      transform: translateY(var(--y, 50%));
      transition: transform var(--d, 0.4s) ease-in var(--d-d, 0s),
        border-radius 0.5s ease var(--br-d, 0.08s);
    }

    &:after {
      --pb: var(--hover-front);
      --d: 0.44s;
    }
  }

  div {
    z-index: 1;
    position: relative;
    display: flex;

    .menu-item a {
      display: block;
      backface-visibility: hidden;
      transform: translateZ(0);
      animation: var(--name, none) 0.5s linear forwards 0.18s;
    }
  }

  &.in {
    --name: move;

    &:not(.out) {
      --c: var(--color-hover);
      --b: var(--background-hover);

      &:before,
      &:after {
        --y: 0;
        --br: 5%;
      }

      &:after {
        --br: 10%;
        --d-d: 0.02s;
      }
    }

    &.out {
      --name: move-out;

      &:before {
        --d-d: 0.06s;
      }
    }
  }
}

@keyframes move {
  30%,
  36% {
    transform: translateY(calc(-6px * var(--move))) translateZ(0)
      rotate(calc(-13deg * var(--rotate) * var(--part)));
  }
  50% {
    transform: translateY(calc(3px * var(--move))) translateZ(0)
      rotate(calc(6deg * var(--rotate) * var(--part)));
  }
  70% {
    transform: translateY(calc(-2px * var(--move))) translateZ(0)
      rotate(calc(-3deg * var(--rotate) * var(--part)));
  }
}

@keyframes move-out {
  30%,
  36% {
    transform: translateY(calc(6px * var(--move))) translateZ(0)
      rotate(calc(13deg * var(--rotate) * var(--part)));
  }
  50% {
    transform: translateY(calc(-3px * var(--move))) translateZ(0)
      rotate(calc(-6deg * var(--rotate) * var(--part)));
  }
  70% {
    transform: translateY(calc(2px * var(--move))) translateZ(0)
      rotate(calc(3deg * var(--rotate) * var(--part)));
  }
}
