.recherche {
  display: flex;
  justify-content: center;
  align-items: center;
}

.recherche__input {
  background-color: rgba(0, 0, 0, 0.3);
  color: #f0f0c2;
}

.espace-gauche {
  margin-left: 8px;
}
