// NOUVELLE STYLISATION DE LA BARRE DE RECHERCHE REMPLACE L'ANCIENNE AVEC MAGNIFYING GLASS
// Si vous voulez changer des trucs *facile a changer*
.recherche {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
  background-color: var(--color1);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-left: 10px;
  flex: 1 1 100px;
  max-width: 300px;
  min-width: 150px;
}

.recherche label{
  width: 100%;
}

.recherche__input {
  background-color: rgba(0, 0, 0, 0.3);
  color: #ececec; 
  border-radius: 6px;
  padding: 8px;
  border: none;
  outline: none;
  width: 100%;
  transition: background-color 0.3s ease;
}

.recherche__input::placeholder {
  color: #d1d1d1; 
}

.recherche__input:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.recherche__bouton {
  margin-left: 8px;
  padding: 8px 12px;
  border-radius: 6px;
  color: var(--color5);
  background-color: var(--color4);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.recherche__bouton:hover {
  background-color: var(--color2);
}


@media (max-width: 1024px) {
  .recherche{
    min-width: 300px;
    flex: 1 0 0px;
    margin-top: 1.5rem;
  }
}

// Ajoute pour version mobile 
@media (max-width: 480px) {
  .recherche {
    height: auto;
  }
}