// NOUVELLE STYLISATION DE LA BARRE DE RECHERCHE REMPLACE L'ANCIENNE AVEC MAGNIFYING GLASS
// Si vous voulez changer des trucs *facile a changer*
.recherche {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: var(--color1);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.recherche__input {
  background-color: rgba(0, 0, 0, 0.3);
  color: #000000; 
  border-radius: 6px;
  padding: 8px;
  border: none;
  outline: none;
  width: 200px;
  transition: background-color 0.3s ease;
}

.recherche__input::placeholder {
  color: #ffffff; 
}

.recherche__input:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.recherche__bouton {
  margin-left: 8px;
  padding: 8px 12px;
  border-radius: 6px;
  color: var(--color5);
  background-color: var(--color4);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.recherche__bouton:hover {
  background-color: var(--color2);
}

// Ajoute pour version mobile 
@media (max-width: 600px) {
  .recherche {
    margin-top: 20px; // Adjuster la valeur a mesure
  }
}